
@orange: #e8683c;
@gray: #b9b9b9;
@blue: #337ab7;

a {
	color: @orange !important;
	text-decoration: none;
	font-family: 'Russo One', sans-serif;
}
* {
	outline: none !important;
}
h1 {
	font-family: 'Russo One', sans-serif;
}


/*navbar*/
nav.navbar {

	margin: 0 !important;
	border: 0 !important;
	height: 70px !important;
	background: transparent !important;

	a.navbar-brand {
		font-size: 45px;
		margin-top: 11px;
		font-family: 'Russo One', sans-serif;
		font-weight: 600;
		padding-left: 0;
		@media (max-width: 1000px) {
			font-size: 35px;
		}
		@media (max-width: 800px) {
			font-size: 30px;
			margin-top: 0;
		}
		@media (max-width: 450px) {
			font-size:20px;
		}
		@media (max-width: 350px) {
			font-size:14px;
		}
		
	}
/*menu*/
	ul {
		li a {
			line-height: 45px;
			font-weight: 600;
			letter-spacing: 1px;
			font-size: 20px;
			color: @gray !important;

			@media (max-width: 1000px) {
				font-size: 16px;	
			}
		}
		li {
			a:hover{
				color:@orange !important;
			}
			a:active {
				color:@orange !important;
			}
			a:focus {
				color:@orange !important;
			}
		}
		li:last-child a {
			padding-right: 0;
		}
	}
}

.bt {
	color: white !important;
	@media (min-width: 768px) {
		visibility: hidden;
	}
	@media (max-width: 768px) {
		visibility: visible;
	}
	@media (max-width: 450px ) {
		font-size: 12px;
		padding: 5px;
	}
	@media (max-width: 350px){
		padding:1px;
	}
}	


/*carusel*/

#myCarousel {
	p, h1 {
		color: wite;
		font-family: 'Russo One', sans-serif; 
	}
	@media (max-width: 768px) {
		display:none;
		
		}
	
	
	

	p {
		font-size: 18px;
		text-shadow: 
		-0   -1px 4px #4D4FD6,
		 0   -1px 4px #4D4FD6,
		-0    1px 4px #4D4FD6,
		 0    1px 4px #4D4FD6,
		-1px -0   4px #4D4FD6,
		 1px -0   4px #4D4FD6,
		-1px  0   4px #4D4FD6,
		 1px  0   4px #4D4FD6,
		-1px -1px 4px #4D4FD6,
		 1px -1px 4px #4D4FD6,
		-1px  1px 4px #4D4FD6,
		 1px  1px 4px #4D4FD6,
		-1px -1px 4px #4D4FD6,
		 1px -1px 4px #4D4FD6,
		-1px  1px 4px #4D4FD6,
		 1px  1px 4px #4D4FD6;

		@media (max-width: 1100px) {
			font-size: 16px;
		}
		@media (max-width: 900px) {
			font-size: 14px;
		}
	}
	h1 {
		font-size: 26px;
		text-shadow: 
		-0   -1px 4px #4D4FD6,
		 0   -1px 4px #4D4FD6,
		-0    1px 4px #4D4FD6,
		 0    1px 4px #4D4FD6,
		-1px -0   4px #4D4FD6,
		 1px -0   4px #4D4FD6,
		-1px  0   4px #4D4FD6,
		 1px  0   4px #4D4FD6,
		-1px -1px 4px #4D4FD6,
		 1px -1px 4px #4D4FD6,
		-1px  1px 4px #4D4FD6,
		 1px  1px 4px #4D4FD6,
		-1px -1px 4px #4D4FD6,
		 1px -1px 4px #4D4FD6,
		-1px  1px 4px #4D4FD6,
		 1px  1px 4px #4D4FD6;

		@media (max-width: 1100px) {
			font-size: 20px;
		}
		@media (max-width: 900) {
			font-size: 18px;
		}
	}
	a {
		color: white !important;
	}
	img {
		width: 1200px;
	}
}
.mastfoot {
	
}

.featurette-heading, liad {
	font-family: 'Russo One', sans-serif;
}

.featurette-heading {
	@media (max-width: 768px) {
		font-size:25px;	
	}
	@media (max-width: 450px) {
		font-size: 16px;
	}

}
.lead {
	@media (max-width: 768px) {
		font-size:16px;
	}
	@media (max-width: 450px) {
		font-size: 12px;
	}
}
.featurette-image {
	width: 550px;
	height: 300px;
	@media (max-width: 450px) {
		display:none;
	}
}
.mastfoot {
	font-family: 'Russo One', sans-serif;
	@media (max-width: 450px) {
		font-size:12px;
	}
}
.form {
	margin-top: 50px;
	input {
		margin-top: 5px;
		margin-right: 5px;
	}
	.vad {
		color: @blue;
		font-size: 30px;
		font-family: 'Russo One', sans-serif;
	}
	label {
		font-family: 'Russo One', sans-serif;
		color: @gray;
	}
	label:hover {
		font-family: 'Russo One', sans-serif;
		color: @blue;
	}
	.btn {
		font-family: 'Russo One', sans-serif;
		font-size: 16px;
	}
	select {
		margin-bottom: 5px;
		font-family: 'Russo One', sans-serif;
		color: @blue;
	}
	option {
		font-family: 'Russo One', sans-serif;
		color: @blue;
	}
}

.form-test {
	form {
		margin-top: 20px;
		margin-left: 0px;
	}

	input {
		font-family: 'Russo One', sans-serif;
		margin-top: 5px;
	}
	label {
	font-family: 'Russo One', sans-serif;
	color: @blue;
	margin-left: 5px;
	}
	label:hover {
		font-family: 'Russo One', sans-serif;
		color:@orange;
	}	

	:checked+label {
		font-family: 'Russo One', sans-serif;
		color:@orange;
	}
	h1 {
		color: @blue;
		font-size: 30px;
		font-family: 'Russo One', sans-serif;
	}
}
.progress {
	width: 100%;
	font-family: 'Russo One', sans-serif;
	height: 22px;
	@media (max-width: 768px) {
		display:none;
	}
}