a {
  color: #e8683c !important;
  text-decoration: none;
  font-family: 'Russo One', sans-serif;
}
* {
  outline: none !important;
}
/*navbar*/
nav.navbar {
  margin: 0 !important;
  border: 0 !important;
  height: 70px !important;
  background: transparent !important;
  /*menu*/
}
nav.navbar a.navbar-brand {
  font-size: 45px;
  margin-top: 11px;
  font-family: 'Russo One', sans-serif;
  font-weight: 600;
  padding-left: 0;
}
@media (max-width: 1000px) {
  nav.navbar a.navbar-brand {
    font-size: 35px;
  }
}
@media (max-width: 800px) {
  nav.navbar a.navbar-brand {
    font-size: 30px;
    margin-top: 0;
  }
}
@media (max-width: 450px) {
  nav.navbar a.navbar-brand {
    font-size: 20px;
  }
}
@media (max-width: 350px) {
  nav.navbar a.navbar-brand {
    font-size: 14px;
  }
}
nav.navbar ul li a {
  line-height: 45px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 20px;
  color: #b9b9b9 !important;
}
@media (max-width: 1000px) {
  nav.navbar ul li a {
    font-size: 16px;
  }
}
nav.navbar ul li a:hover {
  color: #e8683c !important;
}
nav.navbar ul li a:active {
  color: #e8683c !important;
}
nav.navbar ul li a:focus {
  color: #e8683c !important;
}
nav.navbar ul li:last-child a {
  padding-right: 0;
}
.bt {
  color: white !important;
}
@media (min-width: 700px) {
  .bt {
    visibility: hidden;
  }
}
@media (max-width: 700px) {
  .bt {
    visibility: visible;
  }
}
/*carusel*/
#myCarousel p,
#myCarousel h1 {
  color: wite;
  font-family: 'Russo One', sans-serif;
}
@media (max-width: 700px) {
  #myCarousel {
    display: none;
  }
}
#myCarousel p {
  font-size: 18px;
  text-shadow: 0 -1px 4px #4D4FD6, 0 -1px 4px #4D4FD6, 0 1px 4px #4D4FD6, 0 1px 4px #4D4FD6, -1px 0 4px #4D4FD6, 1px 0 4px #4D4FD6, -1px 0 4px #4D4FD6, 1px 0 4px #4D4FD6, -1px -1px 4px #4D4FD6, 1px -1px 4px #4D4FD6, -1px 1px 4px #4D4FD6, 1px 1px 4px #4D4FD6, -1px -1px 4px #4D4FD6, 1px -1px 4px #4D4FD6, -1px 1px 4px #4D4FD6, 1px 1px 4px #4D4FD6;
}
@media (max-width: 1100px) {
  #myCarousel p {
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  #myCarousel p {
    font-size: 14px;
  }
}
#myCarousel h1 {
  font-size: 26px;
  text-shadow: 0 -1px 4px #4D4FD6, 0 -1px 4px #4D4FD6, 0 1px 4px #4D4FD6, 0 1px 4px #4D4FD6, -1px 0 4px #4D4FD6, 1px 0 4px #4D4FD6, -1px 0 4px #4D4FD6, 1px 0 4px #4D4FD6, -1px -1px 4px #4D4FD6, 1px -1px 4px #4D4FD6, -1px 1px 4px #4D4FD6, 1px 1px 4px #4D4FD6, -1px -1px 4px #4D4FD6, 1px -1px 4px #4D4FD6, -1px 1px 4px #4D4FD6, 1px 1px 4px #4D4FD6;
}
@media (max-width: 1100px) {
  #myCarousel h1 {
    font-size: 20px;
  }
}
@media (max-width: 900) {
  #myCarousel h1 {
    font-size: 18px;
  }
}
#myCarousel a {
  color: white !important;
}
#myCarousel img {
  width: 1200px;
}
